<section id="accueil" class="d-flex flex-column justify-content-center pb-1">
    <div class="container" data-aos="zoom-in" data-aos-delay="25">
        <h1>Aurélien ROCHE</h1>
        <p>Je suis <span class="typed" data-typed-items="{{ presentation.wordsDescriptif|join(', ') }}"></span></p>
        <div class="social-links">
            {% include 'Front/Bloc/social.html.twig' %}
        </div>
    </div>
</section>
