<section id="skills" class="skills section-bg pb-1">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Compétences</h2>
        </div>
        <div class="row skills-content">
            {% for skill in resume.skills %}
            <div class="col-lg-6">
                <div class="progress">
                    <span class="skill">{{ skill.name }}<i class="val">{{ skill.knowledgePercent }}%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.knowledgePercent }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>