<section id="formation" class="services pb-1">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Formation</h2>
        </div>
        <div class="row mb-5">
            <div class="col-lg-6 col-md-6 d-flex justify-content-center align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue py-3">
                    <img src="{{ asset('img/formation/wcs.jpg') }}" class="img-fluid" alt="logo WCS">
                    <h4 class="fw-bold">Développeur Web et Web Mobile</h4>
                    <h4><a href="https://www.wildcodeschool.com" target="_blank">Wild Code School Lyon</a></h4>
                    <p>2018</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex justify-content-center align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue py-3">
                    <img src="{{ asset('img/formation/iae.jpeg') }}" class="img-fluid" alt="logo IAE Clermont-Ferrand">
                    <h4 class="fw-bold">Master 2 Management</h4>
                    <h4><a href="https://iae.uca.fr/" target="_blank">IAE Clermont-Ferrand</a></h4>
                    <p>2016</p>
                </div>
            </div>
        </div>
    </div>
</section>
