<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>{% block metaTitle %}Aurélien ROCHE - Développeur{% endblock %}</title>
        <link href="{{ asset('img/favicon.png') }}" rel="icon">
        <link href="{{ asset('img/apple-touch-icon.png') }}" rel="apple-touch-icon">

        {% block meta %}
            <meta content="Aurélien ROCHE Développeur WEB PHP Lyon. Je travaille sur du Symfony, VueJS, Mysql ou MongoDB.
                Disponible pour échanger sur des futurs projets ou opportunités"  name="description"
            >
        {% endblock %}

        {% block stylesheets %}{% endblock %}
        {% block headerJavascripts %}{% endblock %}
    </head>
    <body>
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block bodyJavascripts %}{% endblock %}
    </body>
</html>
