<a href="https://www.instagram.com/run_n_cook/" target="_blank"><i class="bx bxl-instagram"></i></a>
<a href="https://github.com/roche426" target="_blank"><i class="bx bxl-github"></i></a>
<a href="https://www.linkedin.com/in/aurelien-roche-573211ab/" target="_blank"><i class="bx bxl-linkedin"></i></a>
<a href="https://www.strava.com/athletes/19952858" target="_blank"><i class="bx bx-run"></i></a>